/* notes */
:root {
    background-color: #00000059;
    background: linear-gradient(90deg, #aca7a7 5%, #d3cd7ef5 90%);
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #C41E3A;
    font: 1rem/1 Georgia;
}

/* The "Olde English" and "BlackChancery" is not working as intended. I have the font on my computer but it is not being utilized on the website. */
header {
    font-family: Georgia, serif;
    color: #C41E3A;
    font-size: 48px;
    margin-left: 20px;
    text-align: center;

    border: #C41E3A;
    background: var(--clr-accent);
    box-shadow: 0 2px 6px #C41E3A;
}

img {
    display: block;
    margin: auto;
    width: 25%;
}

.dps,
.tank,
.healer {

    color: #C41E3A;
    padding: 2.5rem 1rem;
    box-shadow: 0 2px 6px #C41E3A;

}



body {
    font-family: 'Georgia', Georgia;
    font-size: 18px;
    color: #C41E3A;
    padding: 2.5rem 1rem;
    /*color: #fff;*/
    box-shadow: 0 2px 6px #C41E3A;

}

section>h2 {
    font-family: 'BlackChancery', Georgia;
    color: #C41E3A;
}

footer {
    border: #C41E3A;
    box-shadow: #C41E3A;
}

/*Warcraft page code */

@media (min-width:960px) {
    .Warcraft-page {
        display: flex;
        padding: 2.5rem;
        color: #C41E3A;
    }
}

@media (min-width:640px) {
    .Warcraft-page {
        display: flex;
        padding: 1.5rem;
        color: #C41E3A;
    }
}

@media (any-hover :hover) {
    a:link{
        color:#C41E3A;
    }
    a:visited{
        color: black;
    }
    a:hover{
        color: rgb(96, 87, 228);
    }
}

