/* notes */
@font-face {
    font-family: 'BlackChancery';
    src: url('Fonts/BlackChancery.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OldeEnglish Regular';
    src: url('onts/OldeEnglish.ttf') format('truetype');
}

/* background image is not showing up on github site */
:root {
    background-image: url('/img/partchment.jpg'); 
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: #00000059;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #8f0000;
    font: 1rem/1 Georgia;
}

/* The "Olde English" and "BlackChancery" is not working as intended. I have the font on my computer but it is not being utilized on the website. */
header {
    font-family: 'Olde Enlglish', Georgia, serif;
    color: #8f0000;
    font-size: 48px;
    margin-left: 20px;
    text-align: center;

    border: #8f0000;
    /*    padding: 2.5rem 1rem; */
    background: var(--clr-accent);
    /*color: #fff;*/
    box-shadow: 0 2px 6px #8f0000;
}

.dps {

    color: #8f0000;
    padding: 2.5rem 1rem;
    background: var(--clr-accent);
    /*color: #fff;*/
    box-shadow: 0 2px 6px #8f0000;
    
}

.tank {
 
    color: #8f0000;
    padding: 2.5rem 1rem;
    background: var(--clr-accent);
    /*color: #fff;*/
    box-shadow: 0 2px 6px #8f0000;
}

.healer {
    
    color: #8f0000;
    padding: 2.5rem 1rem;
    background: var(--clr-accent);
    /*color: #fff;*/
    box-shadow: 0 2px 6px #8f0000;
}


body {
    font-family: 'Georgia', Georgia;
    font-size: 18px;
    color: rgb(0, 0, 0);

    padding: 2.5rem 1rem;
    background: var(--clr-accent);
    /*color: #fff;*/
    box-shadow: 0 2px 6px #8f0000;

}

section>h2 {
    font-family: 'BlackChancery', Georgia;
    color: #8f0000;
}

p::first-line {
    font-weight: bold;
}

footer {
    border: #8f0000;
    box-shadow: #8f0000;
}

/*Warcraft page code */

@media (min-width:960px) {
    .Warcraft-page {
display: flex;
padding: 2.5rem;
color: #8f0000;
}

/* Clear floats after the columns */

}

    }
} 